<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "B8XMY8CUMW.subirfoto"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

       <!--<preference name="phonegap-version" value="3.7.0" />-->
<!--
<preference name="phonegap-version" value="cli-6.5.0" />
<preference name="android-build-tool" value="gradle" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<gap:plugin name="cordova-plugin-admobpro" source="npm" />
<gap:plugin name="cordova-plugin-camera" source="npm"/>    
<gap:plugin name="cordova-plugin-file-transfer" source="npm"/>   -->

<preference name="phonegap-version" value="3.7.0" />
<!--<gap:plugin name="cordova-plugin-camera" spec="1.2.0"  source="npm"/>    -->
<gap:plugin name="cordova-plugin-camera" spec="2.1.0"  source="npm"/>    
<!--<gap:plugin name="cordova-plugin-file-transfer" spec="0.5.0" source="npm"/>-->
<gap:plugin name="cordova-plugin-file-transfer" source="npm"/>

<!--
<gap:plugin name="cordova-plugin-file" spec="3.0.0" source="npm"/>
<gap:plugin name="cordova-plugin-media-capture" spec="0.3.6" source="npm"/>
<gap:plugin name="cordova-plugin-console" spec="0.2.13" source="npm"/>
-->
        <name>Subir Foto</name>


        <author href="http://yoursite.com" email="you@youremail.com">
        Yo
        </author>
        

        <icon src="icon.png" />

        <access origin="*" />


<!---->


    </widget>
